<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlappyGhost.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>015129EA1CDC35C20047FD4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01512A021CDC35C30047FD4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01512A0D1CDC35C30047FD4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
